{% extends "admin/change_form.html" %}
{% load i18n %}

{% block submit_buttons_bottom %}

<div class="submit-row">
    {% if create_agreement_file_url %}
    <input type="button" value="{% trans 'Create the agreement file' %}"
           name="_continue"
           onclick="window.open('{{ create_agreement_file_url }}')"/>
    {% endif %}

    {% if change_agreement_file_url %}
    <input type="button" value="{% trans 'Change the agreement file' %}"
           name="_anotherbutton" onclick="window.open('{{ change_agreement_file_url }}')"/>
    {% endif %}


    {% if create_act_file_url %}
    <input type="button" value="{% trans 'Create the act file' %}"
           name="_continue"
           onclick="window.open('{{ create_act_file_url }}')"/>
    {% endif %}

    {% if change_act_file_url %}
    <input type="button" value="{% trans 'Change the act file' %}"
           name="_anotherbutton" onclick="window.open('{{ change_act_file_url }}')"/>
    {% endif %}


</div>
{{ block.super }}
{% endblock %}